################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ClientModSendCommand/obj
/.vs
/ClientModSendCommand/bin/Debug
